<footer class="site-footer">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2>Zapisz się do naszego newslettera!</h2>
   <!-- Begin MailChimp Signup Form -->
   <div id="mc_embed_signup">
   <form action="//warnermusic.us11.list-manage.com/subscribe/post?u=5707ca9200ef714154dda6f30&amp;id=8fdced99e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
       <div id="mc_embed_signup_scroll">

     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Miejsce na twój e-mail..." required>
       <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
       <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5707ca9200ef714154dda6f30_8fdced99e3" tabindex="-1" value=""></div>
       <div class="clear"><input type="submit" value="Wyślij" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color:#4980b9;"></div>
       </div>
       <p class="site-info">
         Proudly powered by <a href="https://hexo.io/" target="_blank">Hexo</a>
         Kontakt: <a href="mailto:kontakt@miejskamuzyka.pl?Subject=Miejska%20Muzyka" target="_top">Mail</a><br>
         <% if (config.author){ %>
         &copy; <%= new Date().getFullYear() %> <%= config.author %>
         <% } else { %>
         &copy; <%= new Date().getFullYear() %> <%= config.title %>
         <% } %>
       </p>
     </div>
   </div>
</footer>
